# --------------------
# Dataset & Images
# --------------------
data/
dataset/
datasets/
images/
annotations/
labels/
*.bmp
*.png
*.jpg
*.jpeg

# --------------------
# Outputs & Results
# --------------------
outputs/*
!outputs/accuracy_report.xlsx

results/
predictions/
runs/
*.csv

# --------------------
# Model files
# --------------------
*.pth
*.pt
*.h5

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc

# --------------------
# Environment
# --------------------
venv/
env/

# --------------------
# OS / Editor files
# --------------------
.DS_Store
.vscode/
.idea/
