# ====================
# DATASETS (IGNORE)
# ====================
data/
dataset/
datasets/
images/
annotations/
labels/
*.bmp
*.png
*.jpg
*.jpeg

# ====================
# OUTPUTS (IGNORE ALL)
# ====================
outputs/
outputs/images/
outputs/predictions/
outputs/results/

# ====================
# CSV & TEMP FILES
# ====================
*.csv

# ====================
# MODEL FILES (OPTIONAL)
# ====================
*.pth
*.pt
*.h5

# ====================
# PYTHON CACHE
# ====================
__pycache__/
*.pyc

# ====================
# ENVIRONMENT
# ====================
venv/
env/

# ====================
# EDITOR / OS FILES
# ====================
.vscode/
.idea/
.DS_Store
